In [2]:
%display typeset
p=vector([1,3,1])
q=vector([4,-2,2])
r=vector([3,5,-1])
pq = q-p
pr = r-p
pq

(3, -5, 1)

In [3]:
pr

(2, 2, -2)

In [4]:
d1= vector([1,-2,2])
d2 = vector([-1,1,0])
n = -d1.cross_product(d2)
n

(2, 2, 1)

In [5]:
var('s,t')
solve([6*s+3*t==2,5*s+10*t==6,-2*s+2*t==1],[s,t])

[]

In [7]:
A=matrix([[1,1,0,0,300],[1,0,-1,0,100],[0,1,0,-1,-100],[0,0,1,1,300]])
A

[   1    1    0    0  300]
[   1    0   -1    0  100]
[   0    1    0   -1 -100]
[   0    0    1    1  300]

In [9]:
A1=A.with_added_multiple_of_row(1,0,-1)
A1

[   1    1    0    0  300]
[   0   -1   -1    0 -200]
[   0    1    0   -1 -100]
[   0    0    1    1  300]

In [11]:
A2=A1.with_added_multiple_of_row(2,1,1)
A2 =A2.with_added_multiple_of_row(0,1,1)
A2 = A2.with_rescaled_row(1,-1)
A2

[   1    0   -1    0  100]
[   0    1    1    0  200]
[   0    0   -1   -1 -300]
[   0    0    1    1  300]

In [12]:
A.echelon_form()

[   1    0    0    1  400]
[   0    1    0   -1 -100]
[   0    0    1    1  300]
[   0    0    0    0    0]

In [27]:
M=matrix(ZZ,[[5,0,0,-1],[12,0,-2,0],[1,2,-1,-2]])
M

[ 5  0  0 -1]
[12  0 -2  0]
[ 1  2 -1 -2]

In [28]:
M1=M.with_swapped_rows(0,2)
M1

[ 1  2 -1 -2]
[12  0 -2  0]
[ 5  0  0 -1]

In [29]:
M2 = M1.with_added_multiple_of_row(1,0,-12)
M2 = M2.with_added_multiple_of_row(2,0,-5)
M2

[  1   2  -1  -2]
[  0 -24  10  24]
[  0 -10   5   9]

In [30]:
M3 = M2.with_rescaled_row(1,-1/2)
M3

[  1   2  -1  -2]
[  0  12  -5 -12]
[  0 -10   5   9]

In [31]:
M4 = M3.with_added_multiple_of_row(1,2,1)
M4

[  1   2  -1  -2]
[  0   2   0  -3]
[  0 -10   5   9]

In [32]:
M5 = M4.with_added_multiple_of_row(0,1,-1)
M5 = M5.with_added_multiple_of_row(2,1,5)
M5

[ 1  0 -1  1]
[ 0  2  0 -3]
[ 0  0  5 -6]